thead td {
 text-align: center;
}

#newItem {
 margin-top: 10px;
 margin-bottom: 20px;
}

#addButton {
 background-color: #52526a;
 color: white;
}

#page-header h3 {
 margin-left: 90px;
}


.line-through {
 text-decoration: line-through;
}

.navbar-nav li a{
 color: #90AFC5;
 margin: 20px;
 padding-top: 10px;
 padding-bottom: 10px;
 font-size: 20px;
}

.navbar-collapse {
 text-align: center;
 background: #336b87;
}

.navbar-nav {
 display: inline-block;
 float: none;
}

footer {
 margin-top: 30px;
 background-color: ghostwhite;
}

table {
 table-layout: fixed;
 width: 100%;
 white-space: pre-wrap;
 word-wrap: break-word;
}

table td {
 overflow: hidden;
 text-align: center;
}

.row-text {
 width: 70%;
}

.row-doneBtn {
 width: 13%;
}

.row-removeBtn {
 width: 17%;
}